.flex-col,
.flex-column,
.flex-row {
  display: flex;
  flex-wrap: wrap;
}
.flex-col,
.flex-column {
  flex-direction: column;
}
.flex-nowrap {
  flex-wrap: nowrap;
}
.flex-row {
  flex-direction: row;
}
.flex-item {
  flex: auto;
}
[class*="flex-grid"] {
  display: flex;
  flex-wrap: wrap;
}
[class*="flex-grid"] > * {
  flex: none;
}
.flex-grid-2 > *,
.flex-grid-2 > .flex-item-1 {
  width: 50%;
}
.flex-grid-2 > .flex-item-2 {
  width: 100%;
}
.flex-grid-2.flex-spacing-1 > *,
.flex-grid-2.flex-spacing-1 > .flex-item-1 {
  width: calc(50% - 1rem);
}
.flex-grid-2.flex-spacing-1 > .flex-item-2 {
  width: calc(100% - 1rem);
}
.flex-grid-2.flex-spacing-2 > *,
.flex-grid-2.flex-spacing-2 > .flex-item-1 {
  width: calc(50% - 2rem);
}
.flex-grid-2.flex-spacing-2 > .flex-item-2 {
  width: calc(100% - 2rem);
}
.flex-grid-3 > *,
.flex-grid-3 > .flex-item-1 {
  width: 33.33333333%;
}
.flex-grid-3 > .flex-item-2 {
  width: 66.66666667%;
}
.flex-grid-3 > .flex-item-3 {
  width: 100%;
}
.flex-grid-3.flex-spacing-1 > *,
.flex-grid-3.flex-spacing-1 > .flex-item-1 {
  width: calc(33.33333333% - 1rem);
}
.flex-grid-3.flex-spacing-1 > .flex-item-2 {
  width: calc(66.66666667% - 1rem);
}
.flex-grid-3.flex-spacing-1 > .flex-item-3 {
  width: calc(100% - 1rem);
}
.flex-grid-3.flex-spacing-2 > *,
.flex-grid-3.flex-spacing-2 > .flex-item-1 {
  width: calc(33.33333333% - 2rem);
}
.flex-grid-3.flex-spacing-2 > .flex-item-2 {
  width: calc(66.66666667% - 2rem);
}
.flex-grid-3.flex-spacing-2 > .flex-item-3 {
  width: calc(100% - 2rem);
}
.flex-grid-4 > *,
.flex-grid-4 > .flex-item-1 {
  width: 25%;
}
.flex-grid-4 > .flex-item-2 {
  width: 50%;
}
.flex-grid-4 > .flex-item-3 {
  width: 75%;
}
.flex-grid-4 > .flex-item-4 {
  width: 100%;
}
.flex-grid-4.flex-spacing-1 > *,
.flex-grid-4.flex-spacing-1 > .flex-item-1 {
  width: calc(25% - 1rem);
}
.flex-grid-4.flex-spacing-1 > .flex-item-2 {
  width: calc(50% - 1rem);
}
.flex-grid-4.flex-spacing-1 > .flex-item-3 {
  width: calc(75% - 1rem);
}
.flex-grid-4.flex-spacing-1 > .flex-item-4 {
  width: calc(100% - 1rem);
}
.flex-grid-4.flex-spacing-2 > *,
.flex-grid-4.flex-spacing-2 > .flex-item-1 {
  width: calc(25% - 2rem);
}
.flex-grid-4.flex-spacing-2 > .flex-item-2 {
  width: calc(50% - 2rem);
}
.flex-grid-4.flex-spacing-2 > .flex-item-3 {
  width: calc(75% - 2rem);
}
.flex-grid-4.flex-spacing-2 > .flex-item-4 {
  width: calc(100% - 2rem);
}
.flex-grid-6 > *,
.flex-grid-6 > .flex-item-1 {
  width: 16.66666667%;
}
.flex-grid-6 > .flex-item-2 {
  width: 33.33333333%;
}
.flex-grid-6 > .flex-item-3 {
  width: 50%;
}
.flex-grid-6 > .flex-item-4 {
  width: 66.66666667%;
}
.flex-grid-6 > .flex-item-5 {
  width: 83.33333333%;
}
.flex-grid-6 > .flex-item-6 {
  width: 100%;
}
.flex-grid-6.flex-spacing-1 > *,
.flex-grid-6.flex-spacing-1 > .flex-item-1 {
  width: calc(16.66666667% - 1rem);
}
.flex-grid-6.flex-spacing-1 > .flex-item-2 {
  width: calc(33.33333333% - 1rem);
}
.flex-grid-6.flex-spacing-1 > .flex-item-3 {
  width: calc(50% - 1rem);
}
.flex-grid-6.flex-spacing-1 > .flex-item-4 {
  width: calc(66.66666667% - 1rem);
}
.flex-grid-6.flex-spacing-1 > .flex-item-5 {
  width: calc(83.33333333% - 1rem);
}
.flex-grid-6.flex-spacing-1 > .flex-item-6 {
  width: calc(100% - 1rem);
}
.flex-grid-6.flex-spacing-2 > *,
.flex-grid-6.flex-spacing-2 > .flex-item-1 {
  width: calc(16.66666667% - 2rem);
}
.flex-grid-6.flex-spacing-2 > .flex-item-2 {
  width: calc(33.33333333% - 2rem);
}
.flex-grid-6.flex-spacing-2 > .flex-item-3 {
  width: calc(50% - 2rem);
}
.flex-grid-6.flex-spacing-2 > .flex-item-4 {
  width: calc(66.66666667% - 2rem);
}
.flex-grid-6.flex-spacing-2 > .flex-item-5 {
  width: calc(83.33333333% - 2rem);
}
.flex-grid-6.flex-spacing-2 > .flex-item-6 {
  width: calc(100% - 2rem);
}
.flex-grid-12 > *,
.flex-grid-12 > .flex-item-1 {
  width: 8.33333333%;
}
.flex-grid-12 > .flex-item-2 {
  width: 16.66666667%;
}
.flex-grid-12 > .flex-item-3 {
  width: 25%;
}
.flex-grid-12 > .flex-item-4 {
  width: 33.33333333%;
}
.flex-grid-12 > .flex-item-5 {
  width: 41.66666667%;
}
.flex-grid-12 > .flex-item-6 {
  width: 50%;
}
.flex-grid-12 > .flex-item-7 {
  width: 58.33333333%;
}
.flex-grid-12 > .flex-item-8 {
  width: 66.66666667%;
}
.flex-grid-12 > .flex-item-9 {
  width: 75%;
}
.flex-grid-12 > .flex-item-10 {
  width: 83.33333333%;
}
.flex-grid-12 > .flex-item-11 {
  width: 91.66666667%;
}
.flex-grid-12 > .flex-item-12 {
  width: 100%;
}
.flex-grid-12.flex-spacing-1 > *,
.flex-grid-12.flex-spacing-1 > .flex-item-1 {
  width: calc(8.33333333% - 1rem);
}
.flex-grid-12.flex-spacing-1 > .flex-item-2 {
  width: calc(16.66666667% - 1rem);
}
.flex-grid-12.flex-spacing-1 > .flex-item-3 {
  width: calc(25% - 1rem);
}
.flex-grid-12.flex-spacing-1 > .flex-item-4 {
  width: calc(33.33333333% - 1rem);
}
.flex-grid-12.flex-spacing-1 > .flex-item-5 {
  width: calc(41.66666667% - 1rem);
}
.flex-grid-12.flex-spacing-1 > .flex-item-6 {
  width: calc(50% - 1rem);
}
.flex-grid-12.flex-spacing-1 > .flex-item-7 {
  width: calc(58.33333333% - 1rem);
}
.flex-grid-12.flex-spacing-1 > .flex-item-8 {
  width: calc(66.66666667% - 1rem);
}
.flex-grid-12.flex-spacing-1 > .flex-item-9 {
  width: calc(75% - 1rem);
}
.flex-grid-12.flex-spacing-1 > .flex-item-10 {
  width: calc(83.33333333% - 1rem);
}
.flex-grid-12.flex-spacing-1 > .flex-item-11 {
  width: calc(91.66666667% - 1rem);
}
.flex-grid-12.flex-spacing-1 > .flex-item-12 {
  width: calc(100% - 1rem);
}
.flex-grid-12.flex-spacing-2 > *,
.flex-grid-12.flex-spacing-2 > .flex-item-1 {
  width: calc(8.33333333% - 2rem);
}
.flex-grid-12.flex-spacing-2 > .flex-item-2 {
  width: calc(16.66666667% - 2rem);
}
.flex-grid-12.flex-spacing-2 > .flex-item-3 {
  width: calc(25% - 2rem);
}
.flex-grid-12.flex-spacing-2 > .flex-item-4 {
  width: calc(33.33333333% - 2rem);
}
.flex-grid-12.flex-spacing-2 > .flex-item-5 {
  width: calc(41.66666667% - 2rem);
}
.flex-grid-12.flex-spacing-2 > .flex-item-6 {
  width: calc(50% - 2rem);
}
.flex-grid-12.flex-spacing-2 > .flex-item-7 {
  width: calc(58.33333333% - 2rem);
}
.flex-grid-12.flex-spacing-2 > .flex-item-8 {
  width: calc(66.66666667% - 2rem);
}
.flex-grid-12.flex-spacing-2 > .flex-item-9 {
  width: calc(75% - 2rem);
}
.flex-grid-12.flex-spacing-2 > .flex-item-10 {
  width: calc(83.33333333% - 2rem);
}
.flex-grid-12.flex-spacing-2 > .flex-item-11 {
  width: calc(91.66666667% - 2rem);
}
.flex-grid-12.flex-spacing-2 > .flex-item-12 {
  width: calc(100% - 2rem);
}
@media (min-width: 568px) {
  .flex-grid-phone-2 > *,
  .flex-grid-phone-2 > .flex-item-1 {
    width: 50%;
  }
  .flex-grid-phone-2 > .flex-item-2 {
    width: 100%;
  }
  .flex-grid-phone-2.flex-spacing-1 > *,
  .flex-grid-phone-2.flex-spacing-1 > .flex-item-1 {
    width: calc(50% - 1rem);
  }
  .flex-grid-phone-2.flex-spacing-1 > .flex-item-2 {
    width: calc(100% - 1rem);
  }
  .flex-grid-phone-2.flex-spacing-2 > *,
  .flex-grid-phone-2.flex-spacing-2 > .flex-item-1 {
    width: calc(50% - 2rem);
  }
  .flex-grid-phone-2.flex-spacing-2 > .flex-item-2 {
    width: calc(100% - 2rem);
  }
  .flex-grid-phone-3 > *,
  .flex-grid-phone-3 > .flex-item-1 {
    width: 33.33333333%;
  }
  .flex-grid-phone-3 > .flex-item-2 {
    width: 66.66666667%;
  }
  .flex-grid-phone-3 > .flex-item-3 {
    width: 100%;
  }
  .flex-grid-phone-3.flex-spacing-1 > *,
  .flex-grid-phone-3.flex-spacing-1 > .flex-item-1 {
    width: calc(33.33333333% - 1rem);
  }
  .flex-grid-phone-3.flex-spacing-1 > .flex-item-2 {
    width: calc(66.66666667% - 1rem);
  }
  .flex-grid-phone-3.flex-spacing-1 > .flex-item-3 {
    width: calc(100% - 1rem);
  }
  .flex-grid-phone-3.flex-spacing-2 > *,
  .flex-grid-phone-3.flex-spacing-2 > .flex-item-1 {
    width: calc(33.33333333% - 2rem);
  }
  .flex-grid-phone-3.flex-spacing-2 > .flex-item-2 {
    width: calc(66.66666667% - 2rem);
  }
  .flex-grid-phone-3.flex-spacing-2 > .flex-item-3 {
    width: calc(100% - 2rem);
  }
  .flex-grid-phone-4 > *,
  .flex-grid-phone-4 > .flex-item-1 {
    width: 25%;
  }
  .flex-grid-phone-4 > .flex-item-2 {
    width: 50%;
  }
  .flex-grid-phone-4 > .flex-item-3 {
    width: 75%;
  }
  .flex-grid-phone-4 > .flex-item-4 {
    width: 100%;
  }
  .flex-grid-phone-4.flex-spacing-1 > *,
  .flex-grid-phone-4.flex-spacing-1 > .flex-item-1 {
    width: calc(25% - 1rem);
  }
  .flex-grid-phone-4.flex-spacing-1 > .flex-item-2 {
    width: calc(50% - 1rem);
  }
  .flex-grid-phone-4.flex-spacing-1 > .flex-item-3 {
    width: calc(75% - 1rem);
  }
  .flex-grid-phone-4.flex-spacing-1 > .flex-item-4 {
    width: calc(100% - 1rem);
  }
  .flex-grid-phone-4.flex-spacing-2 > *,
  .flex-grid-phone-4.flex-spacing-2 > .flex-item-1 {
    width: calc(25% - 2rem);
  }
  .flex-grid-phone-4.flex-spacing-2 > .flex-item-2 {
    width: calc(50% - 2rem);
  }
  .flex-grid-phone-4.flex-spacing-2 > .flex-item-3 {
    width: calc(75% - 2rem);
  }
  .flex-grid-phone-4.flex-spacing-2 > .flex-item-4 {
    width: calc(100% - 2rem);
  }
  .flex-grid-phone-6 > *,
  .flex-grid-phone-6 > .flex-item-1 {
    width: 16.66666667%;
  }
  .flex-grid-phone-6 > .flex-item-2 {
    width: 33.33333333%;
  }
  .flex-grid-phone-6 > .flex-item-3 {
    width: 50%;
  }
  .flex-grid-phone-6 > .flex-item-4 {
    width: 66.66666667%;
  }
  .flex-grid-phone-6 > .flex-item-5 {
    width: 83.33333333%;
  }
  .flex-grid-phone-6 > .flex-item-6 {
    width: 100%;
  }
  .flex-grid-phone-6.flex-spacing-1 > *,
  .flex-grid-phone-6.flex-spacing-1 > .flex-item-1 {
    width: calc(16.66666667% - 1rem);
  }
  .flex-grid-phone-6.flex-spacing-1 > .flex-item-2 {
    width: calc(33.33333333% - 1rem);
  }
  .flex-grid-phone-6.flex-spacing-1 > .flex-item-3 {
    width: calc(50% - 1rem);
  }
  .flex-grid-phone-6.flex-spacing-1 > .flex-item-4 {
    width: calc(66.66666667% - 1rem);
  }
  .flex-grid-phone-6.flex-spacing-1 > .flex-item-5 {
    width: calc(83.33333333% - 1rem);
  }
  .flex-grid-phone-6.flex-spacing-1 > .flex-item-6 {
    width: calc(100% - 1rem);
  }
  .flex-grid-phone-6.flex-spacing-2 > *,
  .flex-grid-phone-6.flex-spacing-2 > .flex-item-1 {
    width: calc(16.66666667% - 2rem);
  }
  .flex-grid-phone-6.flex-spacing-2 > .flex-item-2 {
    width: calc(33.33333333% - 2rem);
  }
  .flex-grid-phone-6.flex-spacing-2 > .flex-item-3 {
    width: calc(50% - 2rem);
  }
  .flex-grid-phone-6.flex-spacing-2 > .flex-item-4 {
    width: calc(66.66666667% - 2rem);
  }
  .flex-grid-phone-6.flex-spacing-2 > .flex-item-5 {
    width: calc(83.33333333% - 2rem);
  }
  .flex-grid-phone-6.flex-spacing-2 > .flex-item-6 {
    width: calc(100% - 2rem);
  }
  .flex-grid-phone-12 > *,
  .flex-grid-phone-12 > .flex-item-1 {
    width: 8.33333333%;
  }
  .flex-grid-phone-12 > .flex-item-2 {
    width: 16.66666667%;
  }
  .flex-grid-phone-12 > .flex-item-3 {
    width: 25%;
  }
  .flex-grid-phone-12 > .flex-item-4 {
    width: 33.33333333%;
  }
  .flex-grid-phone-12 > .flex-item-5 {
    width: 41.66666667%;
  }
  .flex-grid-phone-12 > .flex-item-6 {
    width: 50%;
  }
  .flex-grid-phone-12 > .flex-item-7 {
    width: 58.33333333%;
  }
  .flex-grid-phone-12 > .flex-item-8 {
    width: 66.66666667%;
  }
  .flex-grid-phone-12 > .flex-item-9 {
    width: 75%;
  }
  .flex-grid-phone-12 > .flex-item-10 {
    width: 83.33333333%;
  }
  .flex-grid-phone-12 > .flex-item-11 {
    width: 91.66666667%;
  }
  .flex-grid-phone-12 > .flex-item-12 {
    width: 100%;
  }
  .flex-grid-phone-12.flex-spacing-1 > *,
  .flex-grid-phone-12.flex-spacing-1 > .flex-item-1 {
    width: calc(8.33333333% - 1rem);
  }
  .flex-grid-phone-12.flex-spacing-1 > .flex-item-2 {
    width: calc(16.66666667% - 1rem);
  }
  .flex-grid-phone-12.flex-spacing-1 > .flex-item-3 {
    width: calc(25% - 1rem);
  }
  .flex-grid-phone-12.flex-spacing-1 > .flex-item-4 {
    width: calc(33.33333333% - 1rem);
  }
  .flex-grid-phone-12.flex-spacing-1 > .flex-item-5 {
    width: calc(41.66666667% - 1rem);
  }
  .flex-grid-phone-12.flex-spacing-1 > .flex-item-6 {
    width: calc(50% - 1rem);
  }
  .flex-grid-phone-12.flex-spacing-1 > .flex-item-7 {
    width: calc(58.33333333% - 1rem);
  }
  .flex-grid-phone-12.flex-spacing-1 > .flex-item-8 {
    width: calc(66.66666667% - 1rem);
  }
  .flex-grid-phone-12.flex-spacing-1 > .flex-item-9 {
    width: calc(75% - 1rem);
  }
  .flex-grid-phone-12.flex-spacing-1 > .flex-item-10 {
    width: calc(83.33333333% - 1rem);
  }
  .flex-grid-phone-12.flex-spacing-1 > .flex-item-11 {
    width: calc(91.66666667% - 1rem);
  }
  .flex-grid-phone-12.flex-spacing-1 > .flex-item-12 {
    width: calc(100% - 1rem);
  }
  .flex-grid-phone-12.flex-spacing-2 > *,
  .flex-grid-phone-12.flex-spacing-2 > .flex-item-1 {
    width: calc(8.33333333% - 2rem);
  }
  .flex-grid-phone-12.flex-spacing-2 > .flex-item-2 {
    width: calc(16.66666667% - 2rem);
  }
  .flex-grid-phone-12.flex-spacing-2 > .flex-item-3 {
    width: calc(25% - 2rem);
  }
  .flex-grid-phone-12.flex-spacing-2 > .flex-item-4 {
    width: calc(33.33333333% - 2rem);
  }
  .flex-grid-phone-12.flex-spacing-2 > .flex-item-5 {
    width: calc(41.66666667% - 2rem);
  }
  .flex-grid-phone-12.flex-spacing-2 > .flex-item-6 {
    width: calc(50% - 2rem);
  }
  .flex-grid-phone-12.flex-spacing-2 > .flex-item-7 {
    width: calc(58.33333333% - 2rem);
  }
  .flex-grid-phone-12.flex-spacing-2 > .flex-item-8 {
    width: calc(66.66666667% - 2rem);
  }
  .flex-grid-phone-12.flex-spacing-2 > .flex-item-9 {
    width: calc(75% - 2rem);
  }
  .flex-grid-phone-12.flex-spacing-2 > .flex-item-10 {
    width: calc(83.33333333% - 2rem);
  }
  .flex-grid-phone-12.flex-spacing-2 > .flex-item-11 {
    width: calc(91.66666667% - 2rem);
  }
  .flex-grid-phone-12.flex-spacing-2 > .flex-item-12 {
    width: calc(100% - 2rem);
  }
}
@media (min-width: 768px) {
  .flex-grid-tablet-2 > *,
  .flex-grid-tablet-2 > .flex-item-1 {
    width: 50%;
  }
  .flex-grid-tablet-2 > .flex-item-2 {
    width: 100%;
  }
  .flex-grid-tablet-2.flex-spacing-1 > *,
  .flex-grid-tablet-2.flex-spacing-1 > .flex-item-1 {
    width: calc(50% - 1rem);
  }
  .flex-grid-tablet-2.flex-spacing-1 > .flex-item-2 {
    width: calc(100% - 1rem);
  }
  .flex-grid-tablet-2.flex-spacing-2 > *,
  .flex-grid-tablet-2.flex-spacing-2 > .flex-item-1 {
    width: calc(50% - 2rem);
  }
  .flex-grid-tablet-2.flex-spacing-2 > .flex-item-2 {
    width: calc(100% - 2rem);
  }
  .flex-grid-tablet-3 > *,
  .flex-grid-tablet-3 > .flex-item-1 {
    width: 33.33333333%;
  }
  .flex-grid-tablet-3 > .flex-item-2 {
    width: 66.66666667%;
  }
  .flex-grid-tablet-3 > .flex-item-3 {
    width: 100%;
  }
  .flex-grid-tablet-3.flex-spacing-1 > *,
  .flex-grid-tablet-3.flex-spacing-1 > .flex-item-1 {
    width: calc(33.33333333% - 1rem);
  }
  .flex-grid-tablet-3.flex-spacing-1 > .flex-item-2 {
    width: calc(66.66666667% - 1rem);
  }
  .flex-grid-tablet-3.flex-spacing-1 > .flex-item-3 {
    width: calc(100% - 1rem);
  }
  .flex-grid-tablet-3.flex-spacing-2 > *,
  .flex-grid-tablet-3.flex-spacing-2 > .flex-item-1 {
    width: calc(33.33333333% - 2rem);
  }
  .flex-grid-tablet-3.flex-spacing-2 > .flex-item-2 {
    width: calc(66.66666667% - 2rem);
  }
  .flex-grid-tablet-3.flex-spacing-2 > .flex-item-3 {
    width: calc(100% - 2rem);
  }
  .flex-grid-tablet-4 > *,
  .flex-grid-tablet-4 > .flex-item-1 {
    width: 25%;
  }
  .flex-grid-tablet-4 > .flex-item-2 {
    width: 50%;
  }
  .flex-grid-tablet-4 > .flex-item-3 {
    width: 75%;
  }
  .flex-grid-tablet-4 > .flex-item-4 {
    width: 100%;
  }
  .flex-grid-tablet-4.flex-spacing-1 > *,
  .flex-grid-tablet-4.flex-spacing-1 > .flex-item-1 {
    width: calc(25% - 1rem);
  }
  .flex-grid-tablet-4.flex-spacing-1 > .flex-item-2 {
    width: calc(50% - 1rem);
  }
  .flex-grid-tablet-4.flex-spacing-1 > .flex-item-3 {
    width: calc(75% - 1rem);
  }
  .flex-grid-tablet-4.flex-spacing-1 > .flex-item-4 {
    width: calc(100% - 1rem);
  }
  .flex-grid-tablet-4.flex-spacing-2 > *,
  .flex-grid-tablet-4.flex-spacing-2 > .flex-item-1 {
    width: calc(25% - 2rem);
  }
  .flex-grid-tablet-4.flex-spacing-2 > .flex-item-2 {
    width: calc(50% - 2rem);
  }
  .flex-grid-tablet-4.flex-spacing-2 > .flex-item-3 {
    width: calc(75% - 2rem);
  }
  .flex-grid-tablet-4.flex-spacing-2 > .flex-item-4 {
    width: calc(100% - 2rem);
  }
  .flex-grid-tablet-6 > *,
  .flex-grid-tablet-6 > .flex-item-1 {
    width: 16.66666667%;
  }
  .flex-grid-tablet-6 > .flex-item-2 {
    width: 33.33333333%;
  }
  .flex-grid-tablet-6 > .flex-item-3 {
    width: 50%;
  }
  .flex-grid-tablet-6 > .flex-item-4 {
    width: 66.66666667%;
  }
  .flex-grid-tablet-6 > .flex-item-5 {
    width: 83.33333333%;
  }
  .flex-grid-tablet-6 > .flex-item-6 {
    width: 100%;
  }
  .flex-grid-tablet-6.flex-spacing-1 > *,
  .flex-grid-tablet-6.flex-spacing-1 > .flex-item-1 {
    width: calc(16.66666667% - 1rem);
  }
  .flex-grid-tablet-6.flex-spacing-1 > .flex-item-2 {
    width: calc(33.33333333% - 1rem);
  }
  .flex-grid-tablet-6.flex-spacing-1 > .flex-item-3 {
    width: calc(50% - 1rem);
  }
  .flex-grid-tablet-6.flex-spacing-1 > .flex-item-4 {
    width: calc(66.66666667% - 1rem);
  }
  .flex-grid-tablet-6.flex-spacing-1 > .flex-item-5 {
    width: calc(83.33333333% - 1rem);
  }
  .flex-grid-tablet-6.flex-spacing-1 > .flex-item-6 {
    width: calc(100% - 1rem);
  }
  .flex-grid-tablet-6.flex-spacing-2 > *,
  .flex-grid-tablet-6.flex-spacing-2 > .flex-item-1 {
    width: calc(16.66666667% - 2rem);
  }
  .flex-grid-tablet-6.flex-spacing-2 > .flex-item-2 {
    width: calc(33.33333333% - 2rem);
  }
  .flex-grid-tablet-6.flex-spacing-2 > .flex-item-3 {
    width: calc(50% - 2rem);
  }
  .flex-grid-tablet-6.flex-spacing-2 > .flex-item-4 {
    width: calc(66.66666667% - 2rem);
  }
  .flex-grid-tablet-6.flex-spacing-2 > .flex-item-5 {
    width: calc(83.33333333% - 2rem);
  }
  .flex-grid-tablet-6.flex-spacing-2 > .flex-item-6 {
    width: calc(100% - 2rem);
  }
  .flex-grid-tablet-12 > *,
  .flex-grid-tablet-12 > .flex-item-1 {
    width: 8.33333333%;
  }
  .flex-grid-tablet-12 > .flex-item-2 {
    width: 16.66666667%;
  }
  .flex-grid-tablet-12 > .flex-item-3 {
    width: 25%;
  }
  .flex-grid-tablet-12 > .flex-item-4 {
    width: 33.33333333%;
  }
  .flex-grid-tablet-12 > .flex-item-5 {
    width: 41.66666667%;
  }
  .flex-grid-tablet-12 > .flex-item-6 {
    width: 50%;
  }
  .flex-grid-tablet-12 > .flex-item-7 {
    width: 58.33333333%;
  }
  .flex-grid-tablet-12 > .flex-item-8 {
    width: 66.66666667%;
  }
  .flex-grid-tablet-12 > .flex-item-9 {
    width: 75%;
  }
  .flex-grid-tablet-12 > .flex-item-10 {
    width: 83.33333333%;
  }
  .flex-grid-tablet-12 > .flex-item-11 {
    width: 91.66666667%;
  }
  .flex-grid-tablet-12 > .flex-item-12 {
    width: 100%;
  }
  .flex-grid-tablet-12.flex-spacing-1 > *,
  .flex-grid-tablet-12.flex-spacing-1 > .flex-item-1 {
    width: calc(8.33333333% - 1rem);
  }
  .flex-grid-tablet-12.flex-spacing-1 > .flex-item-2 {
    width: calc(16.66666667% - 1rem);
  }
  .flex-grid-tablet-12.flex-spacing-1 > .flex-item-3 {
    width: calc(25% - 1rem);
  }
  .flex-grid-tablet-12.flex-spacing-1 > .flex-item-4 {
    width: calc(33.33333333% - 1rem);
  }
  .flex-grid-tablet-12.flex-spacing-1 > .flex-item-5 {
    width: calc(41.66666667% - 1rem);
  }
  .flex-grid-tablet-12.flex-spacing-1 > .flex-item-6 {
    width: calc(50% - 1rem);
  }
  .flex-grid-tablet-12.flex-spacing-1 > .flex-item-7 {
    width: calc(58.33333333% - 1rem);
  }
  .flex-grid-tablet-12.flex-spacing-1 > .flex-item-8 {
    width: calc(66.66666667% - 1rem);
  }
  .flex-grid-tablet-12.flex-spacing-1 > .flex-item-9 {
    width: calc(75% - 1rem);
  }
  .flex-grid-tablet-12.flex-spacing-1 > .flex-item-10 {
    width: calc(83.33333333% - 1rem);
  }
  .flex-grid-tablet-12.flex-spacing-1 > .flex-item-11 {
    width: calc(91.66666667% - 1rem);
  }
  .flex-grid-tablet-12.flex-spacing-1 > .flex-item-12 {
    width: calc(100% - 1rem);
  }
  .flex-grid-tablet-12.flex-spacing-2 > *,
  .flex-grid-tablet-12.flex-spacing-2 > .flex-item-1 {
    width: calc(8.33333333% - 2rem);
  }
  .flex-grid-tablet-12.flex-spacing-2 > .flex-item-2 {
    width: calc(16.66666667% - 2rem);
  }
  .flex-grid-tablet-12.flex-spacing-2 > .flex-item-3 {
    width: calc(25% - 2rem);
  }
  .flex-grid-tablet-12.flex-spacing-2 > .flex-item-4 {
    width: calc(33.33333333% - 2rem);
  }
  .flex-grid-tablet-12.flex-spacing-2 > .flex-item-5 {
    width: calc(41.66666667% - 2rem);
  }
  .flex-grid-tablet-12.flex-spacing-2 > .flex-item-6 {
    width: calc(50% - 2rem);
  }
  .flex-grid-tablet-12.flex-spacing-2 > .flex-item-7 {
    width: calc(58.33333333% - 2rem);
  }
  .flex-grid-tablet-12.flex-spacing-2 > .flex-item-8 {
    width: calc(66.66666667% - 2rem);
  }
  .flex-grid-tablet-12.flex-spacing-2 > .flex-item-9 {
    width: calc(75% - 2rem);
  }
  .flex-grid-tablet-12.flex-spacing-2 > .flex-item-10 {
    width: calc(83.33333333% - 2rem);
  }
  .flex-grid-tablet-12.flex-spacing-2 > .flex-item-11 {
    width: calc(91.66666667% - 2rem);
  }
  .flex-grid-tablet-12.flex-spacing-2 > .flex-item-12 {
    width: calc(100% - 2rem);
  }
}
@media (min-width: 992px) {
  .flex-grid-laptop-2 > *,
  .flex-grid-laptop-2 > .flex-item-1 {
    width: 50%;
  }
  .flex-grid-laptop-2 > .flex-item-2 {
    width: 100%;
  }
  .flex-grid-laptop-2.flex-spacing-1 > *,
  .flex-grid-laptop-2.flex-spacing-1 > .flex-item-1 {
    width: calc(50% - 1rem);
  }
  .flex-grid-laptop-2.flex-spacing-1 > .flex-item-2 {
    width: calc(100% - 1rem);
  }
  .flex-grid-laptop-2.flex-spacing-2 > *,
  .flex-grid-laptop-2.flex-spacing-2 > .flex-item-1 {
    width: calc(50% - 2rem);
  }
  .flex-grid-laptop-2.flex-spacing-2 > .flex-item-2 {
    width: calc(100% - 2rem);
  }
  .flex-grid-laptop-3 > *,
  .flex-grid-laptop-3 > .flex-item-1 {
    width: 33.33333333%;
  }
  .flex-grid-laptop-3 > .flex-item-2 {
    width: 66.66666667%;
  }
  .flex-grid-laptop-3 > .flex-item-3 {
    width: 100%;
  }
  .flex-grid-laptop-3.flex-spacing-1 > *,
  .flex-grid-laptop-3.flex-spacing-1 > .flex-item-1 {
    width: calc(33.33333333% - 1rem);
  }
  .flex-grid-laptop-3.flex-spacing-1 > .flex-item-2 {
    width: calc(66.66666667% - 1rem);
  }
  .flex-grid-laptop-3.flex-spacing-1 > .flex-item-3 {
    width: calc(100% - 1rem);
  }
  .flex-grid-laptop-3.flex-spacing-2 > *,
  .flex-grid-laptop-3.flex-spacing-2 > .flex-item-1 {
    width: calc(33.33333333% - 2rem);
  }
  .flex-grid-laptop-3.flex-spacing-2 > .flex-item-2 {
    width: calc(66.66666667% - 2rem);
  }
  .flex-grid-laptop-3.flex-spacing-2 > .flex-item-3 {
    width: calc(100% - 2rem);
  }
  .flex-grid-laptop-4 > *,
  .flex-grid-laptop-4 > .flex-item-1 {
    width: 25%;
  }
  .flex-grid-laptop-4 > .flex-item-2 {
    width: 50%;
  }
  .flex-grid-laptop-4 > .flex-item-3 {
    width: 75%;
  }
  .flex-grid-laptop-4 > .flex-item-4 {
    width: 100%;
  }
  .flex-grid-laptop-4.flex-spacing-1 > *,
  .flex-grid-laptop-4.flex-spacing-1 > .flex-item-1 {
    width: calc(25% - 1rem);
  }
  .flex-grid-laptop-4.flex-spacing-1 > .flex-item-2 {
    width: calc(50% - 1rem);
  }
  .flex-grid-laptop-4.flex-spacing-1 > .flex-item-3 {
    width: calc(75% - 1rem);
  }
  .flex-grid-laptop-4.flex-spacing-1 > .flex-item-4 {
    width: calc(100% - 1rem);
  }
  .flex-grid-laptop-4.flex-spacing-2 > *,
  .flex-grid-laptop-4.flex-spacing-2 > .flex-item-1 {
    width: calc(25% - 2rem);
  }
  .flex-grid-laptop-4.flex-spacing-2 > .flex-item-2 {
    width: calc(50% - 2rem);
  }
  .flex-grid-laptop-4.flex-spacing-2 > .flex-item-3 {
    width: calc(75% - 2rem);
  }
  .flex-grid-laptop-4.flex-spacing-2 > .flex-item-4 {
    width: calc(100% - 2rem);
  }
  .flex-grid-laptop-6 > *,
  .flex-grid-laptop-6 > .flex-item-1 {
    width: 16.66666667%;
  }
  .flex-grid-laptop-6 > .flex-item-2 {
    width: 33.33333333%;
  }
  .flex-grid-laptop-6 > .flex-item-3 {
    width: 50%;
  }
  .flex-grid-laptop-6 > .flex-item-4 {
    width: 66.66666667%;
  }
  .flex-grid-laptop-6 > .flex-item-5 {
    width: 83.33333333%;
  }
  .flex-grid-laptop-6 > .flex-item-6 {
    width: 100%;
  }
  .flex-grid-laptop-6.flex-spacing-1 > *,
  .flex-grid-laptop-6.flex-spacing-1 > .flex-item-1 {
    width: calc(16.66666667% - 1rem);
  }
  .flex-grid-laptop-6.flex-spacing-1 > .flex-item-2 {
    width: calc(33.33333333% - 1rem);
  }
  .flex-grid-laptop-6.flex-spacing-1 > .flex-item-3 {
    width: calc(50% - 1rem);
  }
  .flex-grid-laptop-6.flex-spacing-1 > .flex-item-4 {
    width: calc(66.66666667% - 1rem);
  }
  .flex-grid-laptop-6.flex-spacing-1 > .flex-item-5 {
    width: calc(83.33333333% - 1rem);
  }
  .flex-grid-laptop-6.flex-spacing-1 > .flex-item-6 {
    width: calc(100% - 1rem);
  }
  .flex-grid-laptop-6.flex-spacing-2 > *,
  .flex-grid-laptop-6.flex-spacing-2 > .flex-item-1 {
    width: calc(16.66666667% - 2rem);
  }
  .flex-grid-laptop-6.flex-spacing-2 > .flex-item-2 {
    width: calc(33.33333333% - 2rem);
  }
  .flex-grid-laptop-6.flex-spacing-2 > .flex-item-3 {
    width: calc(50% - 2rem);
  }
  .flex-grid-laptop-6.flex-spacing-2 > .flex-item-4 {
    width: calc(66.66666667% - 2rem);
  }
  .flex-grid-laptop-6.flex-spacing-2 > .flex-item-5 {
    width: calc(83.33333333% - 2rem);
  }
  .flex-grid-laptop-6.flex-spacing-2 > .flex-item-6 {
    width: calc(100% - 2rem);
  }
  .flex-grid-laptop-12 > *,
  .flex-grid-laptop-12 > .flex-item-1 {
    width: 8.33333333%;
  }
  .flex-grid-laptop-12 > .flex-item-2 {
    width: 16.66666667%;
  }
  .flex-grid-laptop-12 > .flex-item-3 {
    width: 25%;
  }
  .flex-grid-laptop-12 > .flex-item-4 {
    width: 33.33333333%;
  }
  .flex-grid-laptop-12 > .flex-item-5 {
    width: 41.66666667%;
  }
  .flex-grid-laptop-12 > .flex-item-6 {
    width: 50%;
  }
  .flex-grid-laptop-12 > .flex-item-7 {
    width: 58.33333333%;
  }
  .flex-grid-laptop-12 > .flex-item-8 {
    width: 66.66666667%;
  }
  .flex-grid-laptop-12 > .flex-item-9 {
    width: 75%;
  }
  .flex-grid-laptop-12 > .flex-item-10 {
    width: 83.33333333%;
  }
  .flex-grid-laptop-12 > .flex-item-11 {
    width: 91.66666667%;
  }
  .flex-grid-laptop-12 > .flex-item-12 {
    width: 100%;
  }
  .flex-grid-laptop-12.flex-spacing-1 > *,
  .flex-grid-laptop-12.flex-spacing-1 > .flex-item-1 {
    width: calc(8.33333333% - 1rem);
  }
  .flex-grid-laptop-12.flex-spacing-1 > .flex-item-2 {
    width: calc(16.66666667% - 1rem);
  }
  .flex-grid-laptop-12.flex-spacing-1 > .flex-item-3 {
    width: calc(25% - 1rem);
  }
  .flex-grid-laptop-12.flex-spacing-1 > .flex-item-4 {
    width: calc(33.33333333% - 1rem);
  }
  .flex-grid-laptop-12.flex-spacing-1 > .flex-item-5 {
    width: calc(41.66666667% - 1rem);
  }
  .flex-grid-laptop-12.flex-spacing-1 > .flex-item-6 {
    width: calc(50% - 1rem);
  }
  .flex-grid-laptop-12.flex-spacing-1 > .flex-item-7 {
    width: calc(58.33333333% - 1rem);
  }
  .flex-grid-laptop-12.flex-spacing-1 > .flex-item-8 {
    width: calc(66.66666667% - 1rem);
  }
  .flex-grid-laptop-12.flex-spacing-1 > .flex-item-9 {
    width: calc(75% - 1rem);
  }
  .flex-grid-laptop-12.flex-spacing-1 > .flex-item-10 {
    width: calc(83.33333333% - 1rem);
  }
  .flex-grid-laptop-12.flex-spacing-1 > .flex-item-11 {
    width: calc(91.66666667% - 1rem);
  }
  .flex-grid-laptop-12.flex-spacing-1 > .flex-item-12 {
    width: calc(100% - 1rem);
  }
  .flex-grid-laptop-12.flex-spacing-2 > *,
  .flex-grid-laptop-12.flex-spacing-2 > .flex-item-1 {
    width: calc(8.33333333% - 2rem);
  }
  .flex-grid-laptop-12.flex-spacing-2 > .flex-item-2 {
    width: calc(16.66666667% - 2rem);
  }
  .flex-grid-laptop-12.flex-spacing-2 > .flex-item-3 {
    width: calc(25% - 2rem);
  }
  .flex-grid-laptop-12.flex-spacing-2 > .flex-item-4 {
    width: calc(33.33333333% - 2rem);
  }
  .flex-grid-laptop-12.flex-spacing-2 > .flex-item-5 {
    width: calc(41.66666667% - 2rem);
  }
  .flex-grid-laptop-12.flex-spacing-2 > .flex-item-6 {
    width: calc(50% - 2rem);
  }
  .flex-grid-laptop-12.flex-spacing-2 > .flex-item-7 {
    width: calc(58.33333333% - 2rem);
  }
  .flex-grid-laptop-12.flex-spacing-2 > .flex-item-8 {
    width: calc(66.66666667% - 2rem);
  }
  .flex-grid-laptop-12.flex-spacing-2 > .flex-item-9 {
    width: calc(75% - 2rem);
  }
  .flex-grid-laptop-12.flex-spacing-2 > .flex-item-10 {
    width: calc(83.33333333% - 2rem);
  }
  .flex-grid-laptop-12.flex-spacing-2 > .flex-item-11 {
    width: calc(91.66666667% - 2rem);
  }
  .flex-grid-laptop-12.flex-spacing-2 > .flex-item-12 {
    width: calc(100% - 2rem);
  }
}
@media (min-width: 1200px) {
  .flex-grid-desktop-2 > *,
  .flex-grid-desktop-2 > .flex-item-1 {
    width: 50%;
  }
  .flex-grid-desktop-2 > .flex-item-2 {
    width: 100%;
  }
  .flex-grid-desktop-2.flex-spacing-1 > *,
  .flex-grid-desktop-2.flex-spacing-1 > .flex-item-1 {
    width: calc(50% - 1rem);
  }
  .flex-grid-desktop-2.flex-spacing-1 > .flex-item-2 {
    width: calc(100% - 1rem);
  }
  .flex-grid-desktop-2.flex-spacing-2 > *,
  .flex-grid-desktop-2.flex-spacing-2 > .flex-item-1 {
    width: calc(50% - 2rem);
  }
  .flex-grid-desktop-2.flex-spacing-2 > .flex-item-2 {
    width: calc(100% - 2rem);
  }
  .flex-grid-desktop-3 > *,
  .flex-grid-desktop-3 > .flex-item-1 {
    width: 33.33333333%;
  }
  .flex-grid-desktop-3 > .flex-item-2 {
    width: 66.66666667%;
  }
  .flex-grid-desktop-3 > .flex-item-3 {
    width: 100%;
  }
  .flex-grid-desktop-3.flex-spacing-1 > *,
  .flex-grid-desktop-3.flex-spacing-1 > .flex-item-1 {
    width: calc(33.33333333% - 1rem);
  }
  .flex-grid-desktop-3.flex-spacing-1 > .flex-item-2 {
    width: calc(66.66666667% - 1rem);
  }
  .flex-grid-desktop-3.flex-spacing-1 > .flex-item-3 {
    width: calc(100% - 1rem);
  }
  .flex-grid-desktop-3.flex-spacing-2 > *,
  .flex-grid-desktop-3.flex-spacing-2 > .flex-item-1 {
    width: calc(33.33333333% - 2rem);
  }
  .flex-grid-desktop-3.flex-spacing-2 > .flex-item-2 {
    width: calc(66.66666667% - 2rem);
  }
  .flex-grid-desktop-3.flex-spacing-2 > .flex-item-3 {
    width: calc(100% - 2rem);
  }
  .flex-grid-desktop-4 > *,
  .flex-grid-desktop-4 > .flex-item-1 {
    width: 25%;
  }
  .flex-grid-desktop-4 > .flex-item-2 {
    width: 50%;
  }
  .flex-grid-desktop-4 > .flex-item-3 {
    width: 75%;
  }
  .flex-grid-desktop-4 > .flex-item-4 {
    width: 100%;
  }
  .flex-grid-desktop-4.flex-spacing-1 > *,
  .flex-grid-desktop-4.flex-spacing-1 > .flex-item-1 {
    width: calc(25% - 1rem);
  }
  .flex-grid-desktop-4.flex-spacing-1 > .flex-item-2 {
    width: calc(50% - 1rem);
  }
  .flex-grid-desktop-4.flex-spacing-1 > .flex-item-3 {
    width: calc(75% - 1rem);
  }
  .flex-grid-desktop-4.flex-spacing-1 > .flex-item-4 {
    width: calc(100% - 1rem);
  }
  .flex-grid-desktop-4.flex-spacing-2 > *,
  .flex-grid-desktop-4.flex-spacing-2 > .flex-item-1 {
    width: calc(25% - 2rem);
  }
  .flex-grid-desktop-4.flex-spacing-2 > .flex-item-2 {
    width: calc(50% - 2rem);
  }
  .flex-grid-desktop-4.flex-spacing-2 > .flex-item-3 {
    width: calc(75% - 2rem);
  }
  .flex-grid-desktop-4.flex-spacing-2 > .flex-item-4 {
    width: calc(100% - 2rem);
  }
  .flex-grid-desktop-6 > *,
  .flex-grid-desktop-6 > .flex-item-1 {
    width: 16.66666667%;
  }
  .flex-grid-desktop-6 > .flex-item-2 {
    width: 33.33333333%;
  }
  .flex-grid-desktop-6 > .flex-item-3 {
    width: 50%;
  }
  .flex-grid-desktop-6 > .flex-item-4 {
    width: 66.66666667%;
  }
  .flex-grid-desktop-6 > .flex-item-5 {
    width: 83.33333333%;
  }
  .flex-grid-desktop-6 > .flex-item-6 {
    width: 100%;
  }
  .flex-grid-desktop-6.flex-spacing-1 > *,
  .flex-grid-desktop-6.flex-spacing-1 > .flex-item-1 {
    width: calc(16.66666667% - 1rem);
  }
  .flex-grid-desktop-6.flex-spacing-1 > .flex-item-2 {
    width: calc(33.33333333% - 1rem);
  }
  .flex-grid-desktop-6.flex-spacing-1 > .flex-item-3 {
    width: calc(50% - 1rem);
  }
  .flex-grid-desktop-6.flex-spacing-1 > .flex-item-4 {
    width: calc(66.66666667% - 1rem);
  }
  .flex-grid-desktop-6.flex-spacing-1 > .flex-item-5 {
    width: calc(83.33333333% - 1rem);
  }
  .flex-grid-desktop-6.flex-spacing-1 > .flex-item-6 {
    width: calc(100% - 1rem);
  }
  .flex-grid-desktop-6.flex-spacing-2 > *,
  .flex-grid-desktop-6.flex-spacing-2 > .flex-item-1 {
    width: calc(16.66666667% - 2rem);
  }
  .flex-grid-desktop-6.flex-spacing-2 > .flex-item-2 {
    width: calc(33.33333333% - 2rem);
  }
  .flex-grid-desktop-6.flex-spacing-2 > .flex-item-3 {
    width: calc(50% - 2rem);
  }
  .flex-grid-desktop-6.flex-spacing-2 > .flex-item-4 {
    width: calc(66.66666667% - 2rem);
  }
  .flex-grid-desktop-6.flex-spacing-2 > .flex-item-5 {
    width: calc(83.33333333% - 2rem);
  }
  .flex-grid-desktop-6.flex-spacing-2 > .flex-item-6 {
    width: calc(100% - 2rem);
  }
  .flex-grid-desktop-12 > *,
  .flex-grid-desktop-12 > .flex-item-1 {
    width: 8.33333333%;
  }
  .flex-grid-desktop-12 > .flex-item-2 {
    width: 16.66666667%;
  }
  .flex-grid-desktop-12 > .flex-item-3 {
    width: 25%;
  }
  .flex-grid-desktop-12 > .flex-item-4 {
    width: 33.33333333%;
  }
  .flex-grid-desktop-12 > .flex-item-5 {
    width: 41.66666667%;
  }
  .flex-grid-desktop-12 > .flex-item-6 {
    width: 50%;
  }
  .flex-grid-desktop-12 > .flex-item-7 {
    width: 58.33333333%;
  }
  .flex-grid-desktop-12 > .flex-item-8 {
    width: 66.66666667%;
  }
  .flex-grid-desktop-12 > .flex-item-9 {
    width: 75%;
  }
  .flex-grid-desktop-12 > .flex-item-10 {
    width: 83.33333333%;
  }
  .flex-grid-desktop-12 > .flex-item-11 {
    width: 91.66666667%;
  }
  .flex-grid-desktop-12 > .flex-item-12 {
    width: 100%;
  }
  .flex-grid-desktop-12.flex-spacing-1 > *,
  .flex-grid-desktop-12.flex-spacing-1 > .flex-item-1 {
    width: calc(8.33333333% - 1rem);
  }
  .flex-grid-desktop-12.flex-spacing-1 > .flex-item-2 {
    width: calc(16.66666667% - 1rem);
  }
  .flex-grid-desktop-12.flex-spacing-1 > .flex-item-3 {
    width: calc(25% - 1rem);
  }
  .flex-grid-desktop-12.flex-spacing-1 > .flex-item-4 {
    width: calc(33.33333333% - 1rem);
  }
  .flex-grid-desktop-12.flex-spacing-1 > .flex-item-5 {
    width: calc(41.66666667% - 1rem);
  }
  .flex-grid-desktop-12.flex-spacing-1 > .flex-item-6 {
    width: calc(50% - 1rem);
  }
  .flex-grid-desktop-12.flex-spacing-1 > .flex-item-7 {
    width: calc(58.33333333% - 1rem);
  }
  .flex-grid-desktop-12.flex-spacing-1 > .flex-item-8 {
    width: calc(66.66666667% - 1rem);
  }
  .flex-grid-desktop-12.flex-spacing-1 > .flex-item-9 {
    width: calc(75% - 1rem);
  }
  .flex-grid-desktop-12.flex-spacing-1 > .flex-item-10 {
    width: calc(83.33333333% - 1rem);
  }
  .flex-grid-desktop-12.flex-spacing-1 > .flex-item-11 {
    width: calc(91.66666667% - 1rem);
  }
  .flex-grid-desktop-12.flex-spacing-1 > .flex-item-12 {
    width: calc(100% - 1rem);
  }
  .flex-grid-desktop-12.flex-spacing-2 > *,
  .flex-grid-desktop-12.flex-spacing-2 > .flex-item-1 {
    width: calc(8.33333333% - 2rem);
  }
  .flex-grid-desktop-12.flex-spacing-2 > .flex-item-2 {
    width: calc(16.66666667% - 2rem);
  }
  .flex-grid-desktop-12.flex-spacing-2 > .flex-item-3 {
    width: calc(25% - 2rem);
  }
  .flex-grid-desktop-12.flex-spacing-2 > .flex-item-4 {
    width: calc(33.33333333% - 2rem);
  }
  .flex-grid-desktop-12.flex-spacing-2 > .flex-item-5 {
    width: calc(41.66666667% - 2rem);
  }
  .flex-grid-desktop-12.flex-spacing-2 > .flex-item-6 {
    width: calc(50% - 2rem);
  }
  .flex-grid-desktop-12.flex-spacing-2 > .flex-item-7 {
    width: calc(58.33333333% - 2rem);
  }
  .flex-grid-desktop-12.flex-spacing-2 > .flex-item-8 {
    width: calc(66.66666667% - 2rem);
  }
  .flex-grid-desktop-12.flex-spacing-2 > .flex-item-9 {
    width: calc(75% - 2rem);
  }
  .flex-grid-desktop-12.flex-spacing-2 > .flex-item-10 {
    width: calc(83.33333333% - 2rem);
  }
  .flex-grid-desktop-12.flex-spacing-2 > .flex-item-11 {
    width: calc(91.66666667% - 2rem);
  }
  .flex-grid-desktop-12.flex-spacing-2 > .flex-item-12 {
    width: calc(100% - 2rem);
  }
}
.flex-spacing-1 > * {
  margin: 0.5rem;
}
.flex-spacing-2 > * {
  margin: 1rem;
}
.flex-align-start,
.flex-align-start-start {
  justify-content: flex-start;
  align-items: flex-start;
}
.flex-align-start-end {
  justify-content: flex-start;
  align-items: flex-end;
}
.flex-align-start-center {
  justify-content: flex-start;
  align-items: center;
}
.flex-align-start-stretch {
  justify-content: flex-start;
  align-items: stretch;
}
.flex-align-end-start {
  justify-content: flex-end;
  align-items: flex-start;
}
.flex-align-end,
.flex-align-end-end {
  justify-content: flex-end;
  align-items: flex-end;
}
.flex-align-end-center {
  justify-content: flex-end;
  align-items: center;
}
.flex-align-end-stretch {
  justify-content: flex-end;
  align-items: stretch;
}
.flex-align-center-start {
  justify-content: center;
  align-items: flex-start;
}
.flex-align-center-end {
  justify-content: center;
  align-items: flex-end;
}
.flex-align-center,
.flex-align-center-center {
  justify-content: center;
  align-items: center;
}
.flex-align-center-stretch {
  justify-content: center;
  align-items: stretch;
}
.flex-align-between-start {
  justify-content: space-between;
  align-items: flex-start;
}
.flex-align-between-end {
  justify-content: space-between;
  align-items: flex-end;
}
.flex-align-between-center {
  justify-content: space-between;
  align-items: center;
}
.flex-align-between-stretch {
  justify-content: space-between;
  align-items: stretch;
}
.flex-align-around-start {
  justify-content: space-around;
  align-items: flex-start;
}
.flex-align-around-end {
  justify-content: space-around;
  align-items: flex-end;
}
.flex-align-around-center {
  justify-content: space-around;
  align-items: center;
}
.flex-align-around-stretch {
  justify-content: space-around;
  align-items: stretch;
}
